:root {
  --primary-bg: #000000; // Dark background
  --secondary-bg: #2c2c2e; // Slightly lighter background
  --accent-color: #ff4500; // Bright accent color
  --text-color: #e0e0e0; // Light text color

  --placeholder-color: #7a7a7a; // Placeholder text color

  --border-color: #A5B0B4; // Border color
  --hover-border-color: #505052; // Hover border color

  --button-bg: #323234; // Button background
  --button-hover-bg: #404042; // Button hover background

  --link-color: #008cba; // Link color
  --link-hover-color: #0077a1; // Link hover color

  --success-color: #4caf50; // Success color
  --error-color: #f44336; // Error color
  --warning-color: #ff9800; // Warning color

  --like-color: #ff3f3f;
  --bookmark-color: #007eaf;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
}

ion-icon {
  color: var(--text-color);
}

@font-face {
  font-family: 'Moderniz';
  src: url('https://pixlshare.cc/assets/fonts/Moderniz.otf') format('opentype');
}

.logoFont {
  font-family: 'Moderniz', sans-serif;
  color: var(--secondary-text-color);
}

body {
  font-family: "Share Tech", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary-bg);
  color: var(--text-color);

  margin-top: 5rem;
}

.errorHeader {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;

  width: 100%;
  height: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: .25rem;
  background-color: var(--primary-bg);

  border-bottom: .1rem solid var(--border-color);

  color: var(--error-color);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;

  z-index: 9999;

  div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;

    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    a {
      text-decoration: none;

      ion-icon {
        font-size: 1.5rem;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

.successHeader {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;

  width: 100%;
  height: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: .25rem;
  background-color: var(--success-color);
  color: var(--text-color);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;

  z-index: 9999;

  div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;

    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}