@import "../../scss/global";
@import "../../scss/nav";

#suspendedPostPage {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  h1 {
    padding: 1rem;
  }
  p {
    padding: 1.5rem;
    margin-top: 1rem;
    a {
      text-decoration: underline;
      color: var(--link-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}